<div class="container custom-container-2">
    <!-- Se muestra cuando no hay producto -->
    <div class="no-data text-center" *ngIf="Producto.length == 0">
      <p>Aun no has agregado ningun producto!</p>
      <button class="btn btn-outline-primary" routerLink="/crear-producto">
        Añadir producto
      </button>
    </div>
    <!-- Lista de productos, se esconde cuando no hay producto -->
<div>
  <!--<p>logueado como {{}}</p>-->
</div>
    <div *ngIf="Producto.length !== 0">
      <h3 class="mb-3 text-center">Lista de productos</h3>
      <div class="form-group">
        <input type="text" class="form-control" name="filtrarProducto"  placeholder="Search..." [(ngModel)]="filtrarproducto">
      </div>
      <div class="col-md-12">
        <table class="table table-bordered" >
          <thead>
            <tr>   
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Categoria</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th scope="col">vendedor</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let product of Producto | filter: filtrarproducto  ">     
              <td>{{ product.id }}</td>
              <td>{{ product.nombre }}</td>
              <td>{{ product.Descripcion }}</td>
              <td>{{ product.Categoria }}</td>
              <td>{{ product.Precio }}</td>
              <td>{{ product.Stock }}</td>
              <td>{{ product.vendedor}}</td>
                            <td>
                <button type="submit" class="btn btn-outline-primary" routerLink="/editar-productos/{{ product.id }}" >Editar</button>

                <button type="button" class="btn btn-outline-primary" (click)="BorrarProducto(product.id)">Borrar</button>    
                <button type="button" class="btn btn-outline-primary"  routerLink="/comprar-producto/{{product.id}}">Comprar</button>    
              </td>             
            </tr>
            <button type = "button" class="btn btn-outline-primary" routerLink="/crear-producto">Crear</button>
          </tbody>
        </table>
      </div>
    </div>
  </div>