<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Crear Producto</h3>
      <div class="form-group">
        <input type="text" [(ngModel)]="productDetails.nombre" class="form-control" placeholder="Nombre" maxlength="30">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="productDetails.descripcion" class="form-control" placeholder="Descripcion" maxlength="200">
      </div>

      
      <div class="form-group" >
        <select  [(ngModel)]="productDetails.categoria" class="form-control"  >
          <option  *ngFor="let producto of Producto" >{{producto.nombre}}</option>
       </select> 
      </div>
      
      
      <div class="form-group">
        <input type="text" [(ngModel)]="productDetails.precio" class="form-control" placeholder="Precio" maxlength="7">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="productDetails.stock" class="form-control" placeholder="Stock" maxlength="4">
      </div>
      <div>
        <select [(ngModel)]="productDetails.vendedor"  class="field left" class="form-control" readonly >
          <option>{{getData()}}</option>
        </select>
      </div>
      


      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="agregarProducto(productDetails)">Crear Producto</button>
        <button class="btn btn-success btn-lg btn-block" routerLink="/listar-productos">Lista De Productos</button>
      </div>
    </div>
  </div>

