<form  [formGroup]="registerForm" class='registro' (ngSubmit)="register()" >
  <h1 >Registrarse</h1>
  <div>
  <div>
    <input type="text" class="form-control" name="nombre" formControlName = "nombre" placeholder="Nombre" id="floatingNombre" >

      <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="alert alert-danger">

      <div *ngIf="name.errors?.['required']">
         El nombre es requerido.
       </div>
       <div *ngIf="name.errors?.['minlength']">
         El nombre debe ser de 6 caracteres de largo.
       </div>
      </div>
  <div>
    <input type="password" class="form-control" id="floatingPassword" formControlName="contrasena" placeholder="Contraseña" >
      <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)"  class="alert alert-danger">

      <div *ngIf="contrasena.errors?.['required']">
         Contraseña es requerido
       </div>
       <div *ngIf="contrasena.errors?.['minlength']">
         Contraseña debe ser de 6 caracteres de largo
       </div>
      </div>
  </div>
  </div>
  <div >
    <input type="mail" class="form-control" id="floatingEmail" formControlName="email" placeholder="Email" >
    <div *ngIf="email.invalid && (email.dirty || email.touched)"  class="alert alert-danger">

      <div *ngIf="email.errors?.['required']">
         El email es requerido
      </div>
      </div>
  </div>
  <div >
    <input type="text" class="form-control" id="floatingLocalidad" formControlName="localidad" placeholder="Localidad" >
    <div *ngIf="localidad.invalid && (localidad.dirty || localidad.touched)"  class="alert alert-danger">

      <div *ngIf="localidad.errors?.['required']">
         La localidad es requerida 
      </div>
      </div>

  </div>
  <button  type="submit" class="registerbutton">Registrarse</button>
  <br>
  <br>
  <div *ngIf="success" style="color: green;"><button class="loginbutton"routerLink="/login">Login</button></div>
  <br>
  <button class="loginbutton" routerLink="/login"  >Ya tenes usuario?</button>
</div>
  
  
</form>

