<form  [formGroup]="registerForm" class='registro' (ngSubmit)="register()" >
  <h1 >Registrarse</h1>
  <div>
  <div>
    <input type="text"
    class="form-control"
    name="nombre"
    formControlName = "nombre"
    placeholder="Nombre"
    id="floatingNombre"
    maxlength="10">
    </div>
 
  
  <div >
    <input type="password" class="form-control" id="floatingPassword" formControlName="contrasena" placeholder="Contraseña" >
  </div>
  <div >
    <input type="mail" class="form-control" id="floatingEmail" formControlName="email" placeholder="Email" >
  </div>
  <div >
    <input type="text" class="form-control" id="floatingLocalidad" formControlName="localidad" placeholder="Localidad" >
  </div>
  <button  type="submit" class="registerbutton">Registrarse</button>
  <br>
  <br>
  <div *ngIf="success" style="color: green;"><button class="loginbutton"routerLink="/login">Login</button></div>
  <br>
  <button class="loginbutton" routerLink="/login"  >Ya tenes usuario?</button>
</div>
  
</form>

