<form  class='registro' (click)="register()">
  <h1 >Registrarse</h1>
  <div >
    <input class="form-control"  type="text" formControlName="nombre" placeholder="Nombre">
  </div>
  <div >
    <input type="password" class="form-control" id="floatingPassword" formControlName="contrasena" placeholder="Contraseña">
  </div>
  <div >
    <input type="mail" class="form-control" id="floatingEmail" formControlName="email" placeholder="Email">
  </div>
  <div >
    <input type="text" class="form-control" id="floatingLocalidad" formControlName="localidad" placeholder="Localidad">
  </div>
  <button  type="submit" class="registerbutton">Registrarse</button>
  <br>
  <br>
  <div *ngIf="success" style="color: green;">Registration Successful!! Please <button routerLink="/login" [disabled]="!registerForm.valid">Login</button></div>
  <button class="loginbutton" routerLink="/login"  >Ya tenes usuario?</button>
  
</form>

