<h1> productos </h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>descripcion</th>
                    <th>stock</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>




<button type="button" (click)="onSubmit()">Clickeame pa!</button> 
